  <header class="navbar navbar-inverse navbar-fixed-top wet-asphalt" role="banner">
      <div class="container">
          <div class="navbar-header">
              <ul class="nav navbar-nav navbar-left">
                  <% if !current_diputado.nil? %>
                     <li> <img src="<%= current_diputado.UrlFoto %>" width="42" height="42" style="margin-top: 4px; border: 2px solid #f5f6f7; border-radius: 20px;"> </li>
                     <li><%= link_to current_diputado.nombre, diputado_path(current_diputado) %></li>
                  <% else %>
                    <li><%= link_to "Asamblea", root_path %></li>
                   <% end %>
              </ul>
          </div>
          <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                  <li><%= link_to "Ayuda", help_path %></li>
                  <li class="active"><%= link_to "Quienes Somos?", about_path %></li>
                  <% if !current_diputado.nil? %>
                     <li><%= link_to "Cerrar Sesion", signout_path, method: "delete" %></li>
                  <% end %>
              </ul>
          </div>
      </div>
    </header><!--/header-->

</br>
</br>
</br>

<section id="about-us" class="container">
 <div class="gap"></div>
        <center><h1 class="center">Equipo de Desarrollo</h1></center> </br>
        <center><p class="lead center">Somos 3 estudiantes de la Escuela de Ingenieria en Computacion del Tecnologico de Costa Rica, y este proyecto fue
                                          desarrollado para el curso de Desarrollo de Aplicaciones Moviles el primer semestre del año 2014</p>
        </center>
        <div class="gap"></div>

        </br>

        <div id="meet-the-team" class="row">
            <div class="col-md-4 col-xs-6">
                <div class="center">
                    <center> 
                      <p><img class="img-responsive img-thumbnail img-circle" style="width: 210px; heigth: 210px;"
                              src="https://cdn1.iconfinder.com/data/icons/BRILLIANT/accounting/png/256/executive.png" alt="" ></p>
                      <h5>Diego Carmona Salazar</h5>
                      <h5><small class="designation muted">Desarrollador</small></h5>
                      <h5><small class="designation muted">dhcarmona@gmail.com</small></h5>
                      <p>Estudiante de Ingenieria en Computacion del Tecnologico de Costa Rica</p> 
                    </center>
                </div>
            </div>

            <div class="col-md-4 col-xs-6">
                <div class="center">
                    <center> 
                      <p><img class="img-responsive img-thumbnail img-circle" style="width: 210px; heigth: 210px;"
                              src="https://scontent-a-mia.xx.fbcdn.net/hphotos-prn1/t1.0-9/10403665_693869744008737_1054967795364049093_n.jpg" alt="" ></p>
                      <h5>Jorge Chavarria Rodriguez</h5>
                      <h5><small class="designation muted">Desarrollador</small></h5>
                      <h5><small class="designation muted">jorge13mtb@gmail.com</small></h5>
                      <p>Estudiante de Ingenieria en Computacion del Tecnologico de Costa Rica</p>
                    </center>
                </div>
            </div>        

            <div class="col-md-4 col-xs-6">
                <div class="center">
                    <center> 
                      <p><img class="img-responsive img-thumbnail img-circle" style="width: 210px; heigth: 210px;"
                              src="/app/views/static_pages/bryan.jpg" alt="" ></p>
                      <h5>Bryan Muñoz Villalobos</h5>
                      <h5><small class="designation muted">Desarrollador</small></h5>
                      <h5><small class="designation muted">bryanmuvi@gmail.com</small></h5>
                      <p>Estudiante de Ingenieria en Computacion del Tecnologico de Costa Rica</p>
                    </center>
                </div>
            </div>        
        </div><!--/#meet-the-team-->
    </section><!--/#about-us-->