  <header class="navbar navbar-inverse navbar-fixed-top wet-asphalt" role="banner">
      <div class="container">
          <div class="navbar-header">
              <ul class="nav navbar-nav navbar-left">
                  <% if !current_diputado.nil? %>
                     <li><%= link_to current_diputado.nombre, diputado_path(current_diputado) %></li>
                  <% else %>
                    <li><%= link_to "Asamblea", root_path %></li>
                   <% end %>
              </ul>
          </div>
          <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                  <li class="active"><%= link_to "Ayuda", help_path %></li>
                  <li><%= link_to "Quienes Somos?", about_path %></li>
                  <% if !current_diputado.nil? %>
                     <li><%= link_to "Cerrar Sesion", signout_path, method: "delete" %></li>
                  <% end %>
              </ul>
          </div>
      </div>
    </header><!--/header-->

</br>
</br>
</br>


<section id="help" class="container">
  <div class="gap"></div>
    <center>
        <h1 class="center">Ayuda</h1>
        </br>
          
        <p class="lead center">Este es un proyecto con el fin de lograr un acercamiento entre los diputados y los ciudadanos de Costa Rica</p>
        </br>
    </center>


    <div class="well">
      <center>
        <p class="lead center">- Información Importante sobre el uso:</p>
      </center>

            <ul class="list-group">
              <li class="list-group-item">1. El sitio Web es de uso exclusivo para los Diputados</li>
              <li class="list-group-item">2. Los ciudadanos pueden utilizar la Aplicación Móvil</li>
              <li class="list-group-item">3. Desde la Aplicación Móvil los ciudadanos podrán:</li>
              <li class="list-group-item">- - Realizar Búsqueda y encontrar a los Diputados</li>
              <li class="list-group-item">- - Visualizar Perfil de los Diputados</li>
              <li class="list-group-item">- - Realizar preguntas a los Diputados</li>
            </ul>

           
   </div>
     
 <text style="float: right">Cualquier consulta escribir a jorge13mtb@gmail.com</text>
</section><!--/#help->
