  <header class="navbar navbar-inverse navbar-fixed-top wet-asphalt" role="banner">
      <div class="container">
          <div class="navbar-header">
              <ul class="nav navbar-nav navbar-left">
                  <li class="active"><%= link_to @diputado.nombre, diputado_path(@diputado) %></li>
              </ul>
          </div>
          <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                  <li><%= link_to "Ayuda", help_path %></li>
                  <li><%= link_to "Quienes Somos?", about_path %></li>
                  <li><%= link_to "Cerrar Sesion", about_path %></li>
              </ul>
          </div>
      </div>
    </header><!--/header-->

<p>.</p>
<p>.</p>

<h1>Editing diputado</h1>

<%= render 'form' %>

<%= link_to 'Show', @diputado %> |
<%= link_to 'Back', diputados_path %>