  <header class="navbar navbar-inverse navbar-fixed-top wet-asphalt" role="banner">
      <div class="container">
          <div class="navbar-header">
              <ul class="nav navbar-nav navbar-left">
                  <li> <img src="<%= @diputado.UrlFoto %>" width="42" height="42" style="margin-top: 4px; border: 2px solid #f5f6f7; border-radius: 20px;"> </li>
                  <li class="active"><%= link_to @diputado.nombre, diputado_path(@diputado) %></li>
              </ul>
          </div>
          <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                  <li><%= link_to "Ayuda", help_path %></li>
                  <li><%= link_to "Quienes Somos?", about_path %></li>
                  <li><%= link_to "Cerrar Sesion", signout_path, method: "delete" %></li>
              </ul>
          </div>
      </div>
    </header><!--/header-->


</br>
</br>
</br>
</br>


<section id="help" class="container">
        <div class="panel panel-primary">

          <div class="panel-heading">
            <h3 class="panel-title">
              <div class="btn-group">
                  <%= link_to " Sin Responder ", diputado_path(@diputado), class: "btn btn-default"%>
                  <%= link_to " Respondidas", "/diputados/" + @diputado.id.to_s + "?tab=respondidas", class: "btn btn-default"%>     
              </div>
                <text style="float: right; margin-top: 10px;">Total de Preguntas (<%= @preguntas.count %>)<text>
            </h3>
          </div>
				
          <div class="panel-body">
				
            <div align="center">

              <table class="table table-striped">
      
                <% if @diputado.preguntas_diputados.any? %>
                <%  @preguntas.each do |pregunta| %>

                   <% if @tab=="sin_responder" or @tab.nil? %>
                    <% if pregunta.respuesta == "" or pregunta.respuesta.nil? %>
  
                      <tr>

                        <td>        
                         <%= form_tag('/responder?' +'id=' + @diputado.id.to_s + '&id_pregunta=' + pregunta.id.to_s) do  %>

                            <%= pregunta.pregunta %>
                            <small style="color:blue"> 
                              Pregunta realizada por: <%= Usuario.find(pregunta.usuario_id).nombre %>
                                                      - (<%=time_ago_in_words(pregunta.created_at)%> ago)
                            </small></br> 
                            
                            <%= text_area_tag "respuesta", pregunta.respuesta, "cols"=>70, "rows"=>3, class: "form-control" %> </br> 
                        </td>

  
                        <td>
                        <center>
                          <a onClick="mostrar_foto('<%= pregunta.url_foto %>');">Ver Foto Adjunta</a> 
                         </br></br>
                          <%= submit_tag "Responder", class: "btn btn-large btn-primary" %>
                          <% end %></br>
                        </center> 
                       </td> 
                     </tr>
                   <% end %>


          <div id="div_foto"  style="margin-left: 300px; position: fixed; display: none; background-color:#EEEEEE; width: 550px; height: 450px">
             <a onClick="cerrar();" style="float: right;">- Cerrar - </a>  </br>
             <img id="imagen" src="" width="500" height="400" style="margin-top: 10px; border: 2px solid #f5f6f7; border-radius: 20px;">
          </div>


                 <% else %>
                    <% if !pregunta.respuesta == "" or !pregunta.respuesta.nil? %>
                      <tr> <td>        
                            <%= pregunta.pregunta %>
                            <small style="color:blue"> Pregunta realizada por: <%= Usuario.find(pregunta.usuario_id).nombre %>
                                                          - (<%=time_ago_in_words(pregunta.created_at)%> ago)
                            </small></br> 
                            <%= text_area_tag "respuesta", pregunta.respuesta, "cols"=>70, "rows"=>3, class: "form-control", disabled: true%>
                      </td>

                       <td>
                        <center></br> </br> 
                           <a onClick="mostrar_foto('<%=pregunta.url_foto %>');">Ver Foto Adjunta</a>  
                        </br></br>
                        </center> 
                       </td> 
                    </tr>

          <div id="div_foto"  style="margin-left: 300px; position: fixed; display: none; background-color:#EEEEEE; width: 550px; height: 450px">
             <a onClick="cerrar();" style="float: right;">- Cerrar - </a>  </br>
             <img id="imagen" src="" width="500" height="400" style="margin-top: 10px; border: 2px solid #f5f6f7; border-radius: 20px;">
          </div>
                    <% end %>


                 <% end %>
                <%end %>

              </table>
            </div>
          </div>
        </div>
      <% end %>

</section>



<script type="text/javascript">
  function mostrar_foto(url)
  {
    document.getElementById("div_foto").style.display = "block";
    document.getElementById("imagen").src = url;
  }

  function cerrar()
  {
    document.getElementById("div_foto").style.display = "none";
  }
</script>




